<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="main h-full w-full  bg-zinc-00 flex flex-col items-center gap-20 pt-[7rem]   ">
    
    </div>
</body>
</html>